<template>
  <transition name="drop">
    <div class="ralert" :class="alertClasses" v-if="alertShow">
      <b>{{alertMessage}}</b>
      <span class="d-block" v-if="alertText">{{alertText}}</span>
      <router-link :to="alertLink.to" class="d-block" v-if="alertLink && alertLink.to">{{alertLink.text}}</router-link>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'uAlert',
  data () {
    return {
      alertMessage: '',
      alertText: '',
      alertLink: {},
      alertShow: false,
      alertClasses: '',
      default: {
        classes: 'border-success',
        duration: null,
        message: 'Alert text',
        text: '',
        link: {},
        type: 'hide'
      }
    }
  },
  methods: {
    show ({
      message = this.default.message,
      text = this.default.text,
      link = this.default.link,
      type = this.default.type,
      duration = this.default.duration,
      classes = this.default.classes
    } = {}) {
      this.alertClasses = classes
      this.alertShow = true
      this.alertText = text
      this.alertMessage = message
      this.alertLink = link
      if (this.alertTimeout) {
        clearTimeout(this.alertTimeout)
      }

      if (duration) {
        this.alertTimeout = setTimeout(() => {
          if (this.default.type === 'hide') {
            this.hide()
          } else {
            this.show({
              duration: false
            })
          }
        }, duration)
      }
    },
    hide () {
      this.alertShow = false
      if (this.alertTimeout) {
        clearTimeout(this.alertTimeout)
      }
    }
  }
}
</script>

<style lang="scss">
.ralert{
  position: fixed;
  top: 18%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9999;
  max-width: 100%;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-left: 6px solid #d9534f;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
</style>
